
{% extends 'baseback.html.twig' %}

{% block title %}Activitee index{% endblock %}

{% block body %}
    <h1>Activitee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Localisation</th>
                <th>NbP</th>
                <th>Etat</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activitee in activitees %}
            <tr>
                <td>{{ activitee.id }}</td>
                <td>{{ activitee.nom }}</td>
                <td>{{ activitee.prix }}</td>
                <td>{{ activitee.localisation }}</td>
                <td>{{ activitee.nbP }}</td>
                <td>{{ activitee.etat}}</td>
<td><img src="{{ asset('uploads/' ~ activitee.image) }}" alt="Image" width="50" height="30"></td>
                <td>
                    <a href="{{ path('app_activitee_back_show', {'id': activitee.id}) }}">show</a>
                    <a href="{{ path('app_activitee_back_edit', {'id': activitee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activitee_back_new') }}">Create new</a>
{% endblock %}
