{% extends 'base.html.twig' %}
{% block body %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ftco-search d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap">
                            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">  <label for="#">Réclamation</label></a>
                            </div>
                        </div>
                        <div class="col-md-12 tab-wrap">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                                    <form action="#" class="search-property-1">
                                        <div class="row no-gutters">
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4 border-0">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="fa fa-search"></span></div>
                                                        <input type="text" class="form-control" id="myInput" placeholder="Chercher réclamation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h1>Réclamations</h1>

    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
                <tr>
                  <th style="width: 10%">Id</th>
                <th style="width: 15%">Type de Réclamation</th>
                <th style="width: 30%">Description de la Réclamation</th>
                <th style="width: 15%; padding-top: 20px;">Date</th> 
                <th style="width: 15%">Image</th>
                <th style="width: 15%">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.typeDeReclamation }}</td>
                    <td>{{ reclamation.descriptionReclamation }}</td>
                    <td>{{ reclamation.date ? reclamation.date|date('d-m-Y') : '' }}</td>
                    <td>
                       {% if reclamation.image %}
                           <img src="{{ asset('uploads/' ~ reclamation.image) }}" alt="Image" width="100" height="100">
                       {% else %}
                           <span>Aucune image</span>
                       {% endif %}
                   </td>
                    <td>
                        <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-success">Create New</a>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        })
    });
</script>
{% endblock %}