{% extends 'base.html.twig' %}

{% block title %}MoyenTransport{% endblock %}

{% block body %}
    <h1>MoyenTransport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moyen_transport.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ moyen_transport.type }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ moyen_transport.capacite }}</td>
            </tr>
            <tr>
                <th>Num_serie</th>
                <td>{{ moyen_transport.numSerie }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ moyen_transport.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_moyen_transport_index') }}">back to list</a>

    <a href="{{ path('app_moyen_transport_edit', {'id': moyen_transport.id}) }}">edit</a>

    {{ include('moyen_transport/_delete_form.html.twig') }}
{% endblock %}
