{% extends 'header.html.twig' %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Tfarhida<span>Travel Agency</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
			<div class="nav-item dropdown">
             <div class="collapse navbar-collapse" id="ftco-nav">
			 
                <ul class="navbar-nav ml-auto">
				
                    <li class="nav-item">
					<a href="accueil" class="nav-link">Accueil</a>
					</li>

                   
						<li class="nav-item active">
					

					
						<a href="logement" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Logements</a>
						</li>
			
								<div class="dropdown-menu m-0">
									<a class="dropdown-item">Hotel</a>
									<a class="dropdown-item"> Villa</a>
									<a class="dropdown-item"> Maison</a>
							
								</div>
				
						
					</ul>
                    {# {% if app.user %} #}
                        {# <li class="nav-item"><a  class="nav-link">Déconnexion</a></li> #}
                    {# {% else %} #}
                        {# <li class="nav-item"> #}
						{# <a href="{{ path('app_logement_back_index') }}" class="nav-link">Connexion</a></li> #}
                    {# {# {% endif %} # #}
                </ul> 
				</div>
            </div>  
			<ul class="navbar-nav ml-auto">


        
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><i class="far fa-user text-primary mr-2 fa-2x "></i>Gharbi jihen</span>
                            </a>
            <!-- Dropdown - User Information -->
            <div aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                <a class="dropdown-item" href="/admin/profil">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profil
                </a>
                <a class="dropdown-item" href="/admin/parametre">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Paramètres
                </a>
                                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  href="{{ path('app_logement_back_index') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Déconnexion
                </a>
            </div>
        </li>

    </ul>
        </div>
    </nav>
    <div class="hero-wrap js-fullheight" style="background-image: url('/images/hotelBG.jpg');">
		{# <div class="overlay"></div> #}
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<span class="subheading">Welcome to Pacific</span>
					<h1 class="mb-4">Discover Your Favorite Place with Us</h1>
					
				</div>
				
			</div>
		</div>
	</div>
    <!-- END nav -->
</header>
{% endblock %}
{% block body %}

     
    <table class="table" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>Localisation</th>
                <th>NoteMoyenne</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Image</th>
                <th>Nom</th>
                <th>TypeLog</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
            
                <td>{{ logement.Localisation }}</td>
                <td>{{ logement.NoteMoyenne }}</td>
                <td>{{ logement.Prix }}</td>
                <td>{{ logement.Etat }}</td>
                <td>
                   {% if logement.image %}
                       <img src="{{ asset('uploads/' ~ logement.image) }}" alt="Image" width="100" height="100">
                   {% else %}
                       <span>Aucune image</span>
                   {% endif %}
               </td>
                <td>{{ logement.nom }}</td>
                <td>{{ logement.TypeLog }}</td>
                <td >
                 <div class="row">
                    
                    <a href="{{ path('app_logement_show', {'id': logement.id}) }}" >
                    <i class="fas fa-eye" style="color: green"></i>
             {{ include('logement/_delete_form.html.twig') }}

                    
                   
                   
                 </div>
              
                </td>
               

               


            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
	{% endblock %}

