{% extends 'baseback.html.twig' %}

{% block title %}Categorie back index{% endblock %}

{% block body %}
<div>
            <a href="{{ path('app_categorie_back_c_new') }}" class="btn btn-success btn-icon-split ml-auto">
                <i class="fas fa-plus"></i> Create New
            </a>
        </div>
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type_categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.typeCategorie }}</td>
                <td>
                    <a href="{{ path('app_categorie_back_c_show', {'id': categorie.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_categorie_back_c_edit', {'id': categorie.id}) }}" class="btn btn-secondary">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_back_c_new') }}" class="btn btn-third ">Create new</a>
{% endblock %}
